@model IEnumerable<Zentrix.Models.BD.Indicador>

@{
    ViewBag.Title = "Index";
}

<h2>Cliente</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objetivoEstrategico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.target)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rojo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amarillo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verde)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.objetivoEstrategico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.target)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rojo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amarillo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verde)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>*@
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IDIndicador }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IDIndicador })
            </td>
        </tr>
    }

</table>

