<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>

    @Styles.Render("~/Content/css")
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>LTE</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <div class="navbar-custom-menu">

                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Logout</a>
                    </div>
                </div>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Menu</li>
                    <li >
                        <a href="~/CMI/Index">
                            <i class="fa fa-dashboard"></i> <span>Cuadro de Mando</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="~/Indicadores/Index">
                            <i class="fa fa-edit"></i> <span>Indicadores</span>
                        </a>
                    </li>

                    <li><a href="~/FinancieraChart/IndicadorFinanciera/"><i class="fa fa-book"></i> <span>Indicador Financiero</span></a></li>
                    <li><a href="~/FinancieraChart/IndicadorCliente/"><i class="fa fa-book"></i> <span>Indicador Cliente</span></a></li>
                    <li><a href="~/FinancieraChart/IndicadorInterno/"><i class="fa fa-book"></i> <span>Indicador Interno</span></a></li>
                </ul>
            </section>

        </aside>

        <div class="content-wrapper">
            <div style="margin-left:5px;">
                @RenderBody()
            </div>

        </div>
        <footer class="main-footer">

        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
